In [2]:
import sqlite3
import os
conn = sqlite3.connect('final_county.sqlite')
c = conn.cursor()

In [ ]:
# Tables available in the database.

tables = []
c.execute("SELECT name FROM sqlite_master WHERE type='table';")
for t in c.fetchall():
    tables.append(str(t)[3:-3])
print tables

In [ ]:
# Keys for each table.

table_dict = {}
for table in tables:
    table_dict[table] = []
    c.execute('PRAGMA TABLE_INFO({})'.format(table))
    names = [tup[1] for tup in c.fetchall()]
    for name in names:
        table_dict[table].append(str(name))
for table in table_dict:
    print table, table_dict[table]
    if 'tags' not in table:
        c.execute('SELECT * FROM {} LIMIT 1;'.format(table))
    else:
        c.execute('SELECT * FROM {} WHERE type!="regular" LIMIT 1;'.format(table))
    print c.fetchall()

In [ ]:
# The number of times each unique uid appears in new_nodes.
active_users = []
c.execute("""
SELECT COUNT(*)
FROM
(SELECT uid
FROM new_nodes
UNION ALL
SELECT uid
FROM new_ways) u
GROUP BY u.uid
ORDER BY COUNT(*)
DESC;""")
for v in c.fetchall():
    active_users.append(int(v[0]))
print active_users

In [ ]:
# The number of times each unique uid appears in new_ways.

nw_active_users = []
c.execute("SELECT COUNT(*) FROM new_ways GROUP BY uid ORDER BY COUNT(*) DESC;")
for v in c.fetchall():
    nw_active_users.append(int(v[0]))
print nw_active_users

In [ ]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
import sqlite3
import os
conn = sqlite3.connect('final_county.sqlite')
c = conn.cursor()
plt.style.use('seaborn-white')

In [ ]:
# A plot of The number of times each unique uid appears in new_nodes.

active_users = []
c.execute("""
SELECT COUNT(*)
FROM
(SELECT uid
FROM new_nodes
UNION ALL
SELECT uid
FROM new_ways) u
GROUP BY u.uid
ORDER BY COUNT(*)
DESC;""")
for v in c.fetchall():
    active_users.append(int(v[0]))

mpl.rcParams['figure.figsize'] = [12.0, 10.0]
plt.plot(active_users)

In [ ]:
# A plot of The number of times each unique uid appears in new_ways.

plt.plot(nw_active_users)

In [ ]:
# Words in the type column with the number of times they occured.

c.execute("""
SELECT *, COUNT(*)
FROM (SELECT * FROM new_nodes_tags
UNION ALL
SELECT * FROM new_ways_tags) AS c
GROUP BY c.value
ORDER BY COUNT(*)
DESC;
""")
for f in c.fetchall():
    if f[4] == 3:
        print f

In [ ]:
c.execute("""
SELECT c.value, COUNT(*)
FROM (SELECT * FROM new_nodes_tags
UNION ALL
SELECT * FROM new_ways_tags) AS c
WHERE c.key = 'county'
GROUP BY c.value
ORDER BY COUNT(*)
DESC;
""")
for f in c.fetchall():
    print f[0], '|',f[1]

In [ ]:
c.execute("""
SELECT *
FROM (SELECT * FROM new_nodes_tags
UNION ALL
SELECT * FROM new_ways_tags) AS c
WHERE c.key = ' ';
""")
for f in c.fetchall():
    print f

In [ ]:
# Words in the key column with the number of times they occur.
c.execute("SELECT n.key, COUNT(*) FROM new_nodes_tags n GROUP BY key ORDER BY key COLLATE NOCASE;")
for f in c.fetchall():
    print f[0], ',,',f[1]

In [ ]:
# List of key, value pairs  from new_nodes_tags and the number of times they occur.

c.execute("""
SELECT value, key, COUNT(*) 
FROM new_nodes_tags 
GROUP BY value, key 
ORDER BY key COLLATE NOCASE, value COLLATE NOCASE;""")
for f in c.fetchall():
    print f


# Things to fix:
# - naptan?
# x city (compare to database)
# x county (compare to database)
# - cuisine (check spelling and capitalization)
# x opening hours (give seven columns, one for each day of the week)
# x phone (standardize)
# x postcode (standardize)
# - resturant - tradition
# - source
# x ST_alpha, state, etc. (standardize value and key)
# x street and name[for bus_stop] (standardize)
# x split ';' into new columns

In [ ]:
# List of key, value pairs  from new_nodes_tags and the number of times they occur.

c.execute("SELECT value, key, COUNT(*) from new_ways_tags GROUP BY value, key ORDER BY key COLLATE NOCASE, value COLLATE NOCASE;")
for f in c.fetchall():
    print f

In [ ]:
c.execute("""
SELECT value
FROM new_nodes_tags
WHERE key='phone'
ORDER BY value;
""")
for f in c.fetchall():
    print f[0]

In [ ]:


#'county' replaces:
#'County'
#'county_name'


c.execute("""
UPDATE new_ways_tags
SET key='county'
WHERE key='County'
""")

c.execute("""
UPDATE new_nodes_tags
SET key='county'
WHERE key='County'
""")

c.execute("""
UPDATE new_ways_tags
SET key='county'
WHERE key='county_name'
""")

c.execute("""
UPDATE new_nodes_tags
SET key='county'
WHERE key='county_name'
""")

#'County_num' replaces:
#'COUNTYFP'

c.execute("""
UPDATE new_ways_tags
SET key='County_num'
WHERE key='COUNTYFP'
""")

c.execute("""
UPDATE new_nodes_tags
SET key='County_num'
WHERE key='COUNTYFP'
""")

#'elevation' replaces:
#'Elevation'

c.execute("""
UPDATE new_ways_tags
SET key='elevation'
WHERE key='Elevation'
""")

c.execute("""
UPDATE new_nodes_tags
SET key='elevation'
WHERE key='Elevation'
""")

#'postal_code' replaces:
#'postcode'

c.execute("""
UPDATE new_ways_tags
SET key='postal_code'
WHERE key='postcode'
""")

c.execute("""
UPDATE new_nodes_tags
SET key='postal_code'
WHERE key='postcode'
""")

#'ST_alpha' replaces:
#'ST_alph'
#'state_code'

c.execute("""
UPDATE new_ways_tags
SET key='ST_alpha'
WHERE key='ST_alph'
""")

c.execute("""
UPDATE new_nodes_tags
SET key='ST_alpha'
WHERE key='ST_alph'
""")

c.execute("""
UPDATE new_ways_tags
SET key='ST_alpha'
WHERE key='state_code'
""")

c.execute("""
UPDATE new_nodes_tags
SET key='ST_alpha'
WHERE key='state_code'
""")

#'ST_num' replaces:
#'STATEFP'
#'state_id'

c.execute("""
UPDATE new_ways_tags
SET key='ST_num'
WHERE key='STATEFP'
""")

c.execute("""
UPDATE new_nodes_tags
SET key='ST_num'
WHERE key='STATEFP'
""")

c.execute("""
UPDATE new_ways_tags
SET key='ST_num'
WHERE key='state_id'
""")

c.execute("""
UPDATE new_nodes_tags
SET key='ST_num'
WHERE key='state_id'
""")

In [ ]:


c.execute("""
SELECT * 
FROM new_nodes_tags
WHERE key='city';""")
for f in c.fetchall():
    value = format_and_spelling(f[2], city, 'city', to_check, common_mistakes)
    
    
c.execute("""
SELECT * 
FROM new_ways_tags
WHERE key='city';""")
for f in c.fetchall():
    value = format_and_spelling(f[2], city, 'city', to_check, common_mistakes)

c.execute("""
SELECT * 
FROM new_nodes_tags
WHERE key='county';""")
for f in c.fetchall():
    value = format_and_spelling(f[2], county, 'county', to_check, common_mistakes)
    
c.execute("""
SELECT * 
FROM new_ways_tags
WHERE key='county';""")
for f in c.fetchall():
    value = format_and_spelling(f[2], county, 'county', to_check, common_mistakes)

c.execute("""
SELECT * 
FROM new_nodes_tags
WHERE key='state';""")
for f in c.fetchall():
    value = format_and_spelling(f[2], state, 'state', to_check, common_mistakes)
    
c.execute("""
SELECT * 
FROM new_ways_tags
WHERE key='state';""")
for f in c.fetchall():
    value = format_and_spelling(f[2], state, 'state', to_check, common_mistakes)
    
c.execute("""
SELECT * 
FROM new_nodes_tags
WHERE key='country';""")
for f in c.fetchall():
    value = format_and_spelling(f[2], country, 'country', to_check, common_mistakes)
    
c.execute("""
SELECT * 
FROM new_ways_tags
WHERE key='country';""")
for f in c.fetchall():
    value = format_and_spelling(f[2], country, 'country', to_check, common_mistakes)

In [ ]:
def fix_phone(c, table):
    c.execute("""
    SELECT value
    FROM {table}
    WHERE key='phone';
    """.format(table=table))
    for f in c.fetchall():
        print f[0]

In [ ]:
import winsound
# Play Windows exit sound.
winsound.PlaySound("SystemHand", winsound.SND_ALIAS)
winsound.PlaySound("Question", winsound.SND_ALIAS)

In [ ]:
conn.commit()
conn.close()

In [ ]:
lat = 48.4428992, 47.6302001
lon = -120.5969068, -122.7529975

In [ ]:
print range(10)

In [34]:
c.execute("""
SELECT key, value
FROM new_nodes_tags
WHERE key = 'address'
LIMIT 10;""")
print 'key|value'
print '-|-'
for n in c.fetchall():
    print n[0],'|',n[1]

key|value
-|-
address | 2101 N Northlake Wy
address | N 34th St & Fremont Ave N
address | 12518 Lake City Way Northeast
address | 2300 Arboretum Dr E
address | 5500 Phinney Ave N
address | 7600 Sand Point Wy NE Unknown
address | Burke-Gilman Trail underneath University Bridge
address | NE 40th St & NE Pacific St
address | Northlake Ave & 4th Ave NE
address | 1400 E Galer St

In [38]:
c.execute("""
SELECT key, value
FROM new_nodes_tags
WHERE key = 'street'
LIMIT 25;""")
print 'key|value'
print '-|-'
i = 0
for n in c.fetchall():
    if i > 13:
        print n[0],'|',n[1]
    i += 1

key|value
-|-
street | Northeast 24th Street
street | Northeast 24th Street
street | Northeast 24th Street
street | Northeast 24th Street
street | Northeast 24th Street
street | NE 24th St
street | NE 24th St
street | 152 Ave NE
street | NE 24th St
street | NE 24th St
street | 25th Ave NE

In [25]:
c.execute("""
SELECT key, COUNT(*), value
FROM new_ways_tags
WHERE value LIKE '%,%'
GROUP BY key
ORDER BY COUNT(*)
DESC;""")
print 'key|count|value'
print '-|-|-'
for n in c.fetchall():
    print n[0],'|',n[1],'|',n[2]

key|count|value
-|-|-
source | 545 | Yahoo,TIGER
is_in | 221 | King, WA
name | 49 | Armar Trailhead, Centennial Trail
note | 36 | Biergarten has a specific meaning, a beer_garden is perhaps an outdoor area attached to a pub
lanes | 35 | 2 westbound, 1 eastbound
opening_hours | 32 | Mon: 9am-5pm, Tue-Thu: 7am-10pm, Fri-Sat: 7am-12am, Sun: 7am-9pm
description | 21 | Common play area for kids in the neighborhood, open space, as well as a basketball court and openings to all the houses.
fixme | 12 | turn into multipolygon, exclude building footpring from parking lot
directions | 8 | NE 50 St, NE 45 St
operator | 7 | Skagit Aggregates, LLC
wikipedia | 5 | en:Seventh Church of Christ, Scientist (Seattle, Washington)
old_ref | 4 | http://en.wikipedia.org/wiki/Interbay,_Seattle
closest_town | 3 | Everett, Washington
sport | 3 | baseball; soccer, multi
noname | 2 | 2012 US Census Tiger/Line Shapefiles (All Roads, King County)
SOURCE_DES | 1 | 2012 TIGER/Line Shapefile, State File, Place
alt_name | 1 | Fraternal Order of Eagles, Aerie No. 1: The Mother Aerie
collection_times | 1 | Mo-Fr 08:30-17:30, Sa 08:30-15:00
crop | 1 | Strawberries,_Corn,_Blueberries,_raspberries
cuisine | 1 | sandwiches, appetizers
designation | 1 | 118 5th Avenue North, Edmonds, WA 98020
for | 1 | seniors,_children
full | 1 | 9613 20th St SE, Everett (at Hwy 9)
housename | 1 | Landmark Motors, Inc.
media | 1 | Bronze, brick
street | 1 | Hwy 99, Ste H

In [6]:
c.execute("""
SELECT id, key, value, type
FROM new_ways_tags
WHERE value LIKE '%;%'
AND key = 'opening_hours'
LIMIT 1;""")
print 'id|key|value|type'
print '-|-|-|-'
for n in c.fetchall():
    print n[0],'|',n[1],'|',n[2],'|',n[3]

id|key|value|type
-|-|-|-
29362438 | opening_hours | Mo-Th 11:00-22:00; Fr 11:00-23:00; Sa 12:00-23:00; Su 12:00-22:00 | regular